@import "./datarozhlas_scrolly_mixins";

.priciny-umrti-scrolly {
  @include datarozhlas-scrolly-height(300px);  

  @media (max-width: 767.9px) {
    @include datarozhlas-scrolly-height(250px);
  }

  // For tiny mobile landscape when rozhlas navbar is not displayed
  @media (max-height: 549.9px) and (max-width: 767.9px) {
    @include datarozhlas-scrolly-height(120px);
  }

  // For bigger mobile landscape when rozhlas navbar is displayed
  @media (max-height: 549.9px) and (min-width: 768px) {
    @include datarozhlas-scrolly-height(160px);
  }

  .datarozhlas-scrolly-step {
    max-width: 620px;
    margin: 0 auto;
  }
}

.priciny-umrti-ilustrace-kapitoly {
  margin-top: 150px;
  position: relative;

  img {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.active {
      display: block;
    }
  }

  .priciny-umrti-ilustrace-kapitoly-steps-container {
    position: absolute;
    top: -15vh;
    bottom: -5vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    .priciny-umrti-ilustrace-kapitoly-step {
      flex: 1 0 0px;
    }
  }

  @media (max-width: 767.9px) {
    margin-top: 100px;
  }
}

.mock-content {
  text-align: center;
  font-style: italic;
  margin: 4rem 0;
}
