body {
  /* TODO: vyresit mobile */
  overflow: initial !important;
}

#prvni-republika-pribehy {
  position: relative;
}

#prvni-republika-pribehy > .step {
  position: relative;
  padding-bottom: 15vh;
  z-index: 3;
}

/* Highlight active step for debug purposes */
#prvni-republika-pribehy > .step {
  border: 1px solid transparent;
}
#prvni-republika-pribehy > .step.is-active {
  border: 1px solid #ddd;
}

#prvni-republika-pribehy > div:nth-child(2) {
  margin-top: -90vh;
}

#prvni-republika-pribehy:after {
  content: '';
  display: block;
  height: 80vh;
}

#prvni-republika-pribehy > .step > .step-text {
  max-width: 620px;
  margin: 0 auto;
}

#prvni-republika-pribehy > .viz {
  position: sticky;
  top: 20%;
  height: 80vh;
  width: 100%;
  background: white;
  z-index: 4;
  margin-top: 10vh;
  padding: 20px;
}
