@import "./datarozhlas_scrolly_mixins";

.priciny-umrti-scrolly {
  @include datarozhlas-scrolly-height(300px);

  @media (max-width: 767.9px) {
    @include datarozhlas-scrolly-height(250px);
  }

  // For tiny mobile landscape when rozhlas navbar is not displayed
  @media (max-height: 549.9px) and (max-width: 767.9px) {
    @include datarozhlas-scrolly-height(120px);
  }

  // For bigger mobile landscape when rozhlas navbar is displayed
  @media (max-height: 549.9px) and (min-width: 768px) {
    @include datarozhlas-scrolly-height(160px);
  }

  .datarozhlas-scrolly-step {
    max-width: 620px;
    margin: 0 auto;
  }

  .datarozhlas-scrolly-sticky:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    height: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0), white);
  }
}

.priciny-umrti-ilustrace-kapitoly {
  margin-top: 150px;
  position: relative;

  // Responsive 1800x771 ratio
  padding-bottom: 42.834%;

  img {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &.active {
      display: block;
    }
  }

  .priciny-umrti-ilustrace-kapitoly-steps-container {
    position: absolute;
    top: -10vh;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;

    .priciny-umrti-ilustrace-kapitoly-step {
      flex: 1 0 0px;
    }
  }

  @media (max-width: 767.9px) {
    margin-top: 100px;
  }
}

.priciny-umrti-nadpis-kapitoly {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.priciny-umrti-podnadpis-kapitoly {
  margin-top: .3em;
  margin-bottom: 1em;
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 767.9px) {
  .priciny-umrti-nadpis-kapitoly {
    margin-top: .75em;
    font-size: 2rem;
  }

  .priciny-umrti-podnadpis-kapitoly {
    font-size: 1.5rem;
  }
}

.priciny-umrti-nadpis-posledni-kapitoly {
  margin-top: 150px;
  margin-bottom: .75em;
  font-size: 2.5rem;
}

.priciny-umrti-ilustrace-podivne-diagnozy-img {
  width: 100%;
  margin-bottom: 10px;
}

.b-data__bg::before {
  background: rgba(0,0,0,0.5)
}

.priciny-umrti-vis-static {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;

  .desktop {
    @media (max-width: 767.9px) {
      display: none;
    }
  }

  .mobile {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .source-reference {
    font-size: .75rem;
    line-height: 1.25;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    text-align: right;
    color: #909090;

    a {
      color: #909090;
      text-decoration: underline;

      &:hover, &:focus {
        color: black;
      }
    }
  }
}

.priciny-umrti-hrb-std-box {
  max-width: 820px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;

  .priciny-umrti-hrb-std-box-hrb, .priciny-umrti-hrb-std-box-std {
    flex: 1 0 0px;
  }
  
  .priciny-umrti-hrb-std-box-std {
    margin-left: 20px;
  }

  .priciny-umrti-hrb-std-box-img {
    width: 100%;
    max-width: 390px;
  }

  @media (max-width: 767.9px) {
    display: block;

    .priciny-umrti-hrb-std-box-std {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}
