body {
  /* TODO: vyresit mobile */
  overflow: initial !important;
}

#prvni-republika-pribehy {
  position: relative;
}

#prvni-republika-pribehy > .step {
  height: 100vh;
  position: relative;
}

#prvni-republika-pribehy > .step > .step-text {
  position: absolute;
  top: 50%;
  left: calc(50% - 100px);
  width: 200px;
  background: white;
  padding: 30px;
  box-shadow: 0px 2px 10px black;
}

#prvni-republika-pribehy > .viz {
  position: sticky;
  top: 10%;
  height: 80vh;
  width: 100%;
}
